h3= item.type
div.row
    div.four.columns 
        b id:
    div.six.columns= item.id
div.row
    div.four.columns 
        b name:
    div.six.columns= item.name
div.row
    div.four.columns 
        b actor.id:
    div.six.columns= item.actor.id
div.row
    div.four.columns 
        b actor.login:
    div.six.columns= item.actor.login
div.row
    div.four.columns 
        b actor.gravatar_id:
    div.six.columns= item.actor.gravatar_id
div.row
    div.four.columns 
        b actor.url:
    div.six.columns= item.actor.url
div.row
    div.four.columns 
        b actor.avatar_url:
    div.six.columns= item.actor.avatar_url
div.row
    div.four.columns 
        b repo.id:
    div.six.columns= item.repo.id
div.row
    div.four.columns 
        b repo.name:
    div.six.columns= item.repo.namr
div.row
    div.four.columns 
        b repo.url:
    div.six.columns= item.repo.url
div.row
    div.four.columns 
        b payload.ref:
    div.six.columns= item.payload.ref
div.row
    div.four.columns 
        b payload.ref_type:
    div.six.columns= item.payload.ref_type
div.row
    div.four.columns 
        b payload.master_branch:
    div.six.columns= item.payload.master_branch
div.row
    div.four.columns 
        b payload.pusher_type:
    div.six.columns= item.payload.pusher_type
div.row
    div.four.columns 
        b public:
    div.six.columns= item.public
div.row
    div.four.columns 
        b created_at:
    div.six.columns= item.created_at