h3= item.full_name
div.row
    div.four.columns 
        b id:
    div.six.columns= item.id
div.row
    div.four.columns 
        b name:
    div.six.columns= item.name
div.row
    div.four.columns 
        b owner.login:
    div.six.columns= item.owner.login
div.row
    div.four.columns 
        b private:
    div.six.columns= item.private
div.row
    div.four.columns 
        b html_url:
    div.six.columns= item.html_url
div.row
    div.four.columns 
        b git_url:
    div.six.columns= item.git_url
div.row
    div.four.columns 
        b description:
    div.six.columns= item.description
div.row
    div.four.columns 
        b created_at:
    div.six.columns= item.created_at
div.row
    div.four.columns 
        b updated_at:
    div.six.columns= item.updated_at
div.row
    div.four.columns 
        b pushed_at:
    div.six.columns= item.pushed_at
div.row
    div.four.columns 
        b fork:
    div.six.columns= item.fork
div.row
    div.four.columns 
        b open_issues_count:
    div.six.columns= item.open_issues_count
div.row
    div.four.columns 
        b forks:
    div.six.columns= item.forks
div.row
    div.four.columns 
        b watchers:
    div.six.columns= item.watchers
div.row
    div.four.columns 
        b has_issues:
    div.six.columns= item.has_issues
div.row
    div.four.columns 
        b has_downloads:
    div.six.columns= item.has_downloads